/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

/*  my code */

nav {
    margin-top: 1rem;
    border-bottom: 2px solid rgb(0, 191, 255, 0.3);
    border-top: 2px solid rgb(0, 191, 255, 0.3);
    border-radius: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li {
    margin: 2rem;
}


.wrapper {
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
}

body {
    padding-top: 1rem;
}

/* Images */

.logo {
    position: absolute;
    left: 70.32%;
    top: 5.5%;
}

.landing_page {
    margin: 2rem auto auto auto;
    text-align: center;
    max-width: 960px;
    max-height: 374px;
}

.landing_page img {
    border-radius: 5rem;
}

img.ai_img {
    border-radius: 5rem;
    width: 95%;
    height: auto;
}

img.ai_img2 {
    border-radius: 5rem;
    width: 95%;
    height: auto;
}

.landing_page2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_page3 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  Rows */

.row {
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
    justify-content: center;
}

.vision_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/*  Col */

.col {
    text-align: start;
    border: 1px solid lightgray;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(0, 191, 255, 0.1);
}

.vision_col {
    padding-bottom: 3rem;
}

.vision_col h1 {
    background-color: rgb(0, 191, 255, 0.1);
}

.footer_col {
    text-align: start;
    border: 1px solid lightgray;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(0, 191, 255, 0.1);
    width: 33%;
}

.footer_col:last-child {
    width: 72%;
    padding: 3rem;
}

div.col button {
    display: flex;
    justify-content: center;
    margin: 1rem auto 1rem auto;
}

/*  Misc */

#copyright {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    color: rgb(139, 0, 0);
    border-top: 2px solid rgb(139, 0, 0, 0.2);
    border-bottom: 2px solid rgb(139, 0, 0, 0.2);
    padding: 5px;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
}

h2 {
    font-weight: 900;
}


hr {
    width: 96%;
    height: 3px;
    background-color: black;
}


button {
    margin-top: 1rem;
    height: 2.3rem;
    width: 8rem;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}

button:hover {
    background-color: yellow;
    border: 1.5px solid black;
}